.terms-privacy-container {
    padding: 20px;
    margin: auto;
    max-width: 800px;
  }
  
  .terms-privacy-container h1, h2 {
    color: #333;
  }
  
  .terms-privacy-container p {
    font-family: Arial;
    text-align: justify;
    line-height: 1.6;
  }
.back-link {
  font-size: 14px;
  color: green;
  text-decoration: none;
  float: left;
}